@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
#code-description-value {
    font-family: "vt323", monospace;
    font-size: 2rem;
    line-height: 1;
    color: #FFD400;
    padding: 1rem;
    border-radius: 8px;
}

/* Title */
#code-description-problem-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #FFD400;
}

/* Inline code/formulas */
#code-description-value code {
    font-family: "vt323", monospace;
    font-size: 2rem;
    color: #FF6B6B;
    background-color: transparent;
    padding: 0;
    border: none;
}

/* Block code */
#code-description-value pre code {
    color: #FF6B6B;
    background-color: transparent;
    font-family: inherit;
}

#code-description-value pre {
    background-color: transparent;
    padding: 0.75rem;
    border-radius: 5px;
    overflow-x: auto;
}

#problem-difficulty {
    display: inline;
    color: #FF6B6B;
    font-size: 1rem;
}